.navigation-header-layout {
}

.navigation-header-layout .navigation-heading-region {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	background-color: #5e5653;
	border-bottom: 1px solid #c3bfb3;
}

.navigation-header-layout .navigation-header-content-region {
	margin: 75px auto 0 auto;
}

/* desktop break */
@media screen and (min-width: 900px) { 
	
	.navigation-header-layout .navigation-heading-region {
		left: 10%;
		right: 10%;
	}
	.navigation-header-layout .navigation-header-content-region {
		width: 80%;
	}

}

/* wide display break */
@media screen and (min-width: 1200px) { 

	.navigation-header-layout .navigation-heading-region {
		left: 20%;
		right: 20%;
	}
	.navigation-header-layout .navigation-header-content-region {
		width: 60%;		
	}
	
}
