.itinerary-view {
	position: relative;
	min-height: 100vh;
}

.itinerary-view .itinerary-container {
	width: 90%;
	margin: 0 auto;
	position: relative;
}

.itinerary-view .itinerary-info-region {
	margin: 18px auto 8px auto;
	display: none;
}

.itinerary-view .itinerary-background {
	width: 160px;
	position: absolute;
	top: 0px;
	bottom: 0px;
	background-color: transparent;
	background-repeat: repeat-y;
	background-position: 0px 0px;
	opacity: 0.25;
}
.itinerary-view .itinerary-background.itinerary-background-left {
	left: 0px;
	display: none;
	background-image: url('../../../assets/splash/birch_left.png');
	background-position-x: right;
}
.itinerary-view .itinerary-background.itinerary-background-right {
	right: 0px;
	background-image: url('../../../assets/splash/birch_right.png');
	background-position-y: 164px;
}

/* the "itinerary-info-visible" class is added when an itinerary item is clicked in the list
	for narrow layout (mobile) this should hide the list and display just the info/details */
.itinerary-view.itinerary-info-visible .itinerary-list-region {
	display: none;
}
.itinerary-view.itinerary-info-visible .itinerary-info-region {
	display: block;
}


/* desktop break */
@media screen and (min-width: 1000px) {
	
	.itinerary-view:after {
		width: 95%;
		display: table;
		content: "";
		clear: both;
	}
	
	.itinerary-view .itinerary-container {
		width: 80%;
	}
	
	.itinerary-view .itinerary-background {
		opacity: 0.35;
		width: 230px;
		display: none;
	}
	
	.itinerary-view .itinerary-background.itinerary-background-left {
/* 		display: block; */
	}
	
	.itinerary-view .itinerary-list-region {
		width: 39%;
		padding: 0px 0.5%;
		float: left;
	}
	
	.itinerary-view .itinerary-info-region {
		width: 59%;
		padding: 0px 0.5%;
		float: right;
		display: block;
	}

	/* the "itinerary-info-visible" class is added when an itinerary item is clicked in the list
		for wide layout (desktop) this should not do anything sinde both sections are meant to be visible at all times */
	.itinerary-view.itinerary-info-visible .itinerary-list-region {
		display: block;
	}
	.itinerary-view.itinerary-info-visible .itinerary-info-region {
		display: block;
	}
	
}
