.itinerary-list-view {
}
.itinerary-list-view:after {
	display: table;
	content: "";
	clear: both;
}

.itinerary-list-view .itinerary-item-details {
	float: right;
	width: 200px;
}

.itinerary-list-view .itinerary-list-item {
	margin: 4px auto;
	position: relative;
	min-height: 85px;
	border-radius: 6px;
}
.itinerary-list-view .itinerary-list-item .itinerary-list-icon {
	width: 80px;
	height: 80px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 68px;
}
.itinerary-list-view .itinerary-list-item.ceremony .itinerary-list-icon {
	background-image: url('../../../assets/icons/rings.svg');
}
.itinerary-list-view .itinerary-list-item.reception .itinerary-list-icon {
	background-image: url('../../../assets/icons/glass.svg');
}
.itinerary-list-view .itinerary-list-item.hotel .itinerary-list-icon {
	background-image: url('../../../assets/icons/briefcase.svg');
}
.itinerary-list-view .itinerary-list-item.registry .itinerary-list-icon {
	background-image: url('../../../assets/icons/gift.svg');
}
.itinerary-list-view .itinerary-list-item.rsvp .itinerary-list-icon {
	background-image: url('../../../assets/icons/envelope.svg');
}
.itinerary-list-view .itinerary-list-item .itinerary-list-body {
	margin-left: 90px;
	padding: 4px;
	position: absolute;
	top: 40%;
	transform: translateY(-40%);
}
.itinerary-list-view .itinerary-list-item .itinerary-list-body h2 {
	text-shadow: 1px 1px 1px #333;
}
.itinerary-list-view .itinerary-list-item .itinerary-list-body h3 {
	text-shadow: 1px 1px 1px #333;
}
.itinerary-list-view .itinerary-list-item .itinerary-list-body p {
	text-shadow: 1px 1px 1px #333;
}
.itinerary-list-view .itinerary-list-item .itinerary-list-body a.more-info {
	display: block;
	font-size: 14px;
	padding: 2px 0px;
	text-shadow: 1px 1px 1px #333;
}

/* desktop break */
@media screen and (min-width: 1000px) {
	.itinerary-list-view .itinerary-list-item.active {
		background: #807673;
	}
}
