.itinerary-list-view {
}
.itinerary-list-view:after {
	display: table;
	content: "";
	clear: both;
}

.itinerary-list-view .itinerary-item-details {
	float: right;
	width: 200px;
}

.itinerary-list-view .itinerary-list-item {
	margin: 4px auto;
	padding: 4px 0px 4px 4px;
	position: relative;
	min-height: 85px;
	border-radius: 4px 0px 0px 4px;
}
.itinerary-list-view .itinerary-list-item.active {
	background: #807673;
}
.itinerary-list-view .itinerary-list-item .itinerary-list-icon {
	border-radius: 50%;
	width: 80px;
	height: 80px;
	background-color: #46403d;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	box-shadow: 1px 1px 2px #46403d;
	background-position: center;
}
.itinerary-list-view .itinerary-list-item.ceremony .itinerary-list-icon {
	background-image: url('../../../assets/splash/vineyard.jpg');
	background-size: 85px;
}
.itinerary-list-view .itinerary-list-item.reception .itinerary-list-icon {
	background-image: url('../../../assets/splash/dining.jpg');
	background-size: 85px;
}
.itinerary-list-view .itinerary-list-item.hotel .itinerary-list-icon {
	background-image: url('../../../assets/splash/hotel.jpg');
	background-size: 85px;
}
.itinerary-list-view .itinerary-list-item.registry .itinerary-list-icon {
	background-image: url('../../../assets/splash/registry.jpg');
	background-position: 0px 1px;
	background-color: #fff;
	background-size: 85px;
}
.itinerary-list-view .itinerary-list-item.rsvp .itinerary-list-icon {
	background-color: #fff;
	background-image: url('../../../assets/splash/rsvp.png');
	background-position: 10px 18px;
	background-size: 60px;
	background-repeat: no-repeat;
}
.itinerary-list-view .itinerary-list-item .itinerary-list-body {
	margin-left: 90px;
	position: absolute;
	top: 40%;
	transform: translateY(-40%);
}
.itinerary-list-view .itinerary-list-item .itinerary-list-body h2 {
	text-shadow: 1px 1px 1px #333;
}
.itinerary-list-view .itinerary-list-item .itinerary-list-body h3 {
	text-shadow: 1px 1px 1px #333;
}
.itinerary-list-view .itinerary-list-item .itinerary-list-body p {
	text-shadow: 1px 1px 1px #333;
}
.itinerary-list-view .itinerary-list-item .itinerary-list-body a.more-info {
	display: block;
	font-size: 14px;
	padding: 2px 0px;
	text-shadow: 1px 1px 1px #333;
}
