.lodging-view {
}

.lodging-view .lodging-details {
	width: 95%;
	margin: 0 auto;
}

.lodging-view .lodging-details p {
	margin-bottom: 8px;
}

.lodging-view .lodging-contact {
	width: 95%;
	margin: 0 auto;
	padding: 8px 0px;
	font-size: 1.1em;
	text-align: center;
}
.lodging-view .lodging-contact .lodging-contact-action {
	color: #dcdea1;
	margin-bottom: 4px;
}
.lodging-view .phone-number, .lodging-view .group-id {
	color: #e8e4e2;
	text-shadow: 1px 1px 1px #333;
	font-size: 1.25em;
	padding: 4px 0px;
}
